
.wall_1 {
width: 20px;
height: 20px;
}
.wall_2 {
margin-left: -21px;
margin-top: -62px;
/* opacity: 0.7; */
}
.wall_3 {
margin-left: -22px;
margin-top: -64px;
/* opacity: 0.7; */
}
.wall_4 {
margin-left: -22px;
margin-top: -66px;
/* opacity: 0.7; */
}
.wall_5 {
margin-left: -35px;
margin-top: -166px;
/* opacity: 0.7; */
}
.wall_6 {
margin-left: -44px;
margin-top: -166px;
/* opacity: 0.7; */
}
.wall_7 {
margin-left: -19px;
margin-top: -39px;
/* opacity: 0.7; */
}
.wall_8 {
margin-left: -17px;
margin-top: -48px;
/* opacity: 0.7; */
}
.wall_9 {
margin-left: -15px;
margin-top: -66px;
/* opacity: 0.7; */
}
.wall_10 {
margin-left: -15px;
margin-top: -90px;
/* opacity: 0.7; */
}
.wall_11 {
margin-left: -23px;
margin-top: -104px;
/* opacity: 0.7; */
}
.wall_12 {
margin-left: -30px;
margin-top: -36px;
/* opacity: 0.7; */
}
.wall_13 {
margin-left: -28px;
margin-top: -64px;
/* opacity: 0.7; */
}
.wall_14 {
margin-left: -170px;
margin-top: -0px;
/* opacity: 0.7; */
}
.wall_15 {
margin-left: 0px;
margin-top: -160px;
/* opacity: 0.7; */
}
.wall_16 {
margin-left: -27px;
margin-top: -128px;
/* opacity: 0.7; */
}
.wall_17 {
margin-left: -0px;
margin-top: -19px;
/* opacity: 0.7; */
}
.wall_18 {
margin-left: -60px;
margin-top: -170px;
/* opacity: 0.7; */
}
.wall_19 {
margin-left: -0px;
margin-top: -76px;
/* opacity: 0.7; */
}
.wall_20 {
margin-left: -4px;
margin-top: -35px;
/* opacity: 0.7; */
}
.wall_21 {
margin-left: 4px;
margin-top: 3px;
/* opacity: 0.7; */
}
.wall_22 {
margin-left: -3px;
margin-top: -26px;
/* opacity: 0.7; */
}
.wall_23 {
margin-left: -0px;
margin-top: -76px;
/* opacity: 0.7; */
}
.wall_24 {
margin-left: 2px;
margin-top: -8px;
/* opacity: 0.7; */
}
.wall_25 {
margin-left: -0px;
margin-top: -47px;
/* opacity: 0.7; */
}
.wall_26 {
margin-left: -22px;
margin-top: -44px;
/* opacity: 0.7; */
}
.wall_27 {
margin-left: -20px;
margin-top: -120px;
/* opacity: 0.7; */
}
.wall_28 {
margin-left: -4px;
margin-top: -74px;
/* opacity: 0.7; */
}
.wall_29 {
margin-left: -6px;
margin-top: -46px;
/* opacity: 0.7; */
}
.wall_30 {
margin-left: -0px;
margin-top: -76px;
/* opacity: 0.7; */
}
.wall_31 {
margin-left: -0px;
margin-top: -0px;
/* opacity: 0.7; */
}
.wall_32 {
margin-left: -0px;
margin-top: -58px;
/* opacity: 0.7; */
}
.wall_33 {
margin-left: -94px;
margin-top: -134px;
/* opacity: 0.7; */
}
.wall_34 {
margin-left: -4px;
margin-top: -8px;
/* opacity: 0.7; */
}
.wall_35 {
margin-left: -6px;
margin-top: -62px;
/* opacity: 0.7; */
}
.wall_36 {
margin-left: -316px;
margin-top: -268px;
/* opacity: 0.7; */
}
.wall_37 {
margin-left: -60px;
margin-top: -172px;
/* opacity: 0.7; */
}
.wall_38 {
margin-left: -3px;
margin-top: -52px;
/* opacity: 0.7; */
}
.wall_39 {
margin-left: -0px;
margin-top: -10px;
/* opacity: 0.7; */
}
/* lamp from the top */
.wall_40 {
margin-left: -2px;
margin-top: -200px;
/* opacity: 0.7; */
}
/* clock from the top */
.wall_41 {
margin-left: -1px;
margin-top: -60px;
/* opacity: 0.7; */
}
.wall_42 {
margin-left: -0px;
margin-top: -44px;
/* opacity: 0.7; */
}
.wall_43 {
margin-left: -6px;
margin-top: -28px;
/* opacity: 0.7; */
}
.wall_44 {
margin-left: -0px;
margin-top: -32px;
width: 60px;
/* opacity: 0.7; */
}
.wall_45 {
margin-left: -3px;
margin-top: -18px;
/* opacity: 0.7; */
}
.wall_46 {
margin-left: -17px;
margin-top: -70px;
/* opacity: 0.7; */
}
.wall_47 {
margin-left: -20px;
margin-top: -52px;
/* opacity: 0.7; */
}
.wall_48 {
margin-left: -5px;
margin-top: -60px;
/* opacity: 0.7; */
}
.wall_49 {
margin-left: -19px;
margin-top: -62px;
/* opacity: 0.7; */
}
.wall_50 {
margin-left: -16px;
margin-top: -70px;
/* opacity: 0.7; */
}
.wall_51 {
margin-left: -26px;
margin-top: -52px;
/* opacity: 0.7; */
}
.wall_52 {
margin-left: -10px;
margin-top: -37px;
/* opacity: 0.7; */
}
.wall_53 {
margin-left: -7px;
margin-top: -42px;
/* opacity: 0.7; */
}
.wall_54 {
margin-left: -161px;
margin-top: -138px;
/* opacity: 0.7; */
transform: scaleX(-1);
}
.wall_55 {
margin-left: 2px;
margin-top: -20px;
/* opacity: 0.7; */
}
.wall_56 {
margin-left: -10px;
margin-top: -265px;
/* opacity: 0.7; */
}
.wall_57 {
margin-left: -0px;
margin-top: -20px;
width: 40px;
height: 40px;
/*opacity: 0.7;*/
}
.wall_58 {
margin-left: -15px;
margin-top: -45px;
/* opacity: 0.7; */
}

.chosen.gif_ {
width: 20px;
height: 40px;
margin-top: -20px;
margin-left: -10px;
}
.pl {
width: 60px;
height: 60px;
margin-top: -40px;
margin-left: -20px;
}
